<% layout("/layout/boilerplate") %>

<style>
  /* Filter or Category Bar (Optional) */
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
  }

  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
    transition: 0.2s;
    cursor: pointer;
  }

  .filter:hover {
    opacity: 1;
  }

  .filter i {
    font-size: 1.5rem;
  }

  .filter p {
    font-size: 0.8rem;
  }

  /* Card Hover Effects */
  .listing-card {
    border: none !important;
    margin-bottom: 2rem;
    transition: 0.3s;
  }

  .card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    transition: 0.3s;
  }

  .listing-card:hover .card-img-top {
    filter: brightness(90%);
  }

  .card-body {
    padding: 0.5rem 0 !important;
  }

  .card-text b {
    font-weight: 600;
  }

  .listing-link {
    text-decoration: none;
    color: #222;
  }
</style>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image %>"
        class="card-img-top"
        alt="listing_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b> <br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>