<% layout("/layout/boilerplate") %>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/landing.css">

<div class="landing-wrapper">
    <div class="landing-content text-center">
        <h1 class="main-title">
            <span>W</span><span>a</span><span>n</span><span>d</span><span>e</span><span>r</span><span>l</span><span>u</span><span>s</span><span>t</span>
        </h1>
        
        <p class="tagline">Explore the world, stay like a local.</p>
        
        <a href="/listings" class="btn get-started-btn mt-4">
            Get Started <i class="fa-solid fa-arrow-right-long ms-2"></i>
        </a>
    </div>
</div>