:root {
    --brand-color: #fe424d;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar Styling */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: var(--brand-color);
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Card Styling for Index Page */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.card-text b {
    font-weight: 800;
}

/* Custom Button */
.btn-search {
    background-color: var(--brand-color) !important;
    color: white !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
}

.btn-dark {
    background-color: var(--brand-color) !important;
    border: none !important;
}

/* Footer Styling */
.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}